html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-header{
    margin-left: 20%;
    background-color: white;
    min-height: 25vh;
    width: 60%;
    padding: 0;
    display: flex;   
}

.img-position{
    width: 85%;
    height: 90%;
} 

.title-header{
   color: #2510e7;
   font-weight: 600;
   font-size: 20px;
   margin-left: 10%; 
   text-align: center;
}


.btn-tabs  {
    background-color: #0099EE;
    border: none;
    color: white;
    padding: px 250px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:none;
}


.background-body{
    width: 60%;
    margin-left: 20%;
}

.name-list{
    padding-top: 2%;
    font-size: 20px;
    text-align: center;
    color: black;
}
.object{
    background-color: #0099EE;
    width: 49.8%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
}
#press-btn:hover{
  background-color: #2510e7;
}


.monitor-body{
    background-color: rgb(209, 243, 209);
    height: 71vh;
    width: 60%;
    min-height: 69vh;
    margin-left: 20%;
}

.boder-body{
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
    min-height: 50vh;
}

.chart{
    margin-top: 5%;
    margin-left: 30%;
    border-style: solid;
    width: 500px;
    height: 200px;
}

.btn{
    margin-left: 40%;
    color:black;
    font-weight: 900;
    font-size: 15px;
    display: inline;
    border-radius: 15px;
    cursor: pointer;
  }
  .btn + .btn{
    margin-left: 100px;
  }
  .btn:hover{
    opacity: 0.8;
  }
  .btn--start{
    background-color: #71be34;
  }
  .btn--reset{
    background-color: #ffb702;
  }
  .inline{
    display: inline;
  }
  .chartBox{
    width: 500px;
}
  #chart_line1{
  display: inline-block;
}
  #chart_line2{
  display: inline-block;
}

#contentInline{
  display: inline;
}