<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MONITOR</title>
    <link rel="icon" type="image/png" href="logo.png" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<style>
    html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-header{
    margin-left: 20%;
    background-color: white;
    min-height: 25vh;
    width: 60%;
    padding: 0;
    display: flex;   
}

.img-position{
    width: 85%;
    height: 90%;
} 

.title-header{
   color: #2510e7;
   font-weight: 600;
   font-size: 20px;
   margin-left: 10%; 
   text-align: center;
}


.btn-tabs  {
    background-color: #0099EE;
    border: none;
    color: white;
    padding: px 250px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:none;
}


.background-body{
    width: 60%;
    margin-left: 20%;
}

.name-list{
    padding-top: 2%;
    font-size: 20px;
    text-align: center;
    color: black;
}
.object{
    background-color: #0099EE;
    width: 49.8%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
}
#press-btn:hover{
  background-color: #2510e7;
}


.monitor-body{
    background-color: rgb(209, 243, 209);
    height: 71vh;
    width: 60%;
    min-height: 69vh;
    margin-left: 20%;
}

.boder-body{
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
    min-height: 50vh;
}

.chart{
    margin-top: 5%;
    margin-left: 30%;
    border-style: solid;
    width: 500px;
    height: 200px;
}

.btn{
    margin-left: 40%;
    color:black;
    font-weight: 900;
    font-size: 15px;
    display: inline;
    border-radius: 15px;
    cursor: pointer;
  }
  .btn + .btn{
    margin-left: 100px;
  }
  .btn:hover{
    opacity: 0.8;
  }
  .btn--start{
    background-color: #71be34;
  }
  .btn--reset{
    background-color: #ffb702;
  }
  .inline{
    display: inline;
  }
  .chartBox{
    width: 500px;
}
  #chart_line1{
  display: inline-block;
}
  #chart_line2{
  display: inline-block;
}

#contentInline{
  display: inline;
}
</style>
<body onload="realtimeClock()">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>

    
    <div class="content-header">  
        <p>
            <img class="img-position" src="{{ url_for('static',filename='cao-thang-technical-college.jpg') }}" alt="logo Cao Thang">
        </p>
        <p>
            <ul type = "none" , class="title-header" >
                <li>TRƯỜNG CAO ĐẲNG KỸ THUẬT CAO THẮNG</li>
                <li>Khoa Cơ Khí - Bộ Môn Cơ điện tử</li>
                <li style="margin-top: 10px;">LUẬN VĂN TỐT NGHIỆP</li>
                <li style="margin-top: 10px; color: red; font-size: 25px;">GIÁM SÁT HỆ THỐNG ROBOT QUA IOT SỬ DỤNG RASPBERRY</li>   
            </ul>
        </p>
    </div>
    <div class="background-body">
        <div class="btn-tabs">
            <div>   
                <form action="./home">
                    <button class="object" id="press-btn" style="color:white; font-family: 'Times New Roman', Times, serif;" >HOME</button>
                    <button disabled class="object" style="color:black; font-family: 'Times New Roman', Times, serif; cursor: not-allowed">MONITOR</button>
                </form>
            </div>
        </div>
    </div>

    <div class="monitor-body">
        <li type="none" style="padding-top: 1%; text-align: center; font-size: 30px; font-weight: 900;">BIỂU ĐỒ THỂ HIỆN MỨC NĂNG LƯỢNG TIÊU THỤ TỪNG TRỤC</li>
        <button  id="btn-start" class="btn btn--start">START</button>
        <button  id="btn-reset" class="btn btn--reset">RESET</button>

        <div class="boder-body">
            <p class="inline" style="margin-left: 10%;">Times(s): <span id="count" class="minutes"></span><span id="count" class="seconds"></span></p>
            <p class="inline"  id="clock" style="text-align:left; margin-left: 10%; color:black;font-size:15px" ></p>
            <ul>
                <li type="none" id="chart_line1" class="chartBox">
                    <span>Moment 1: <span id="mm1_Id">0</span><span>N.m</span></span>
                    <canvas id="myChart_mm1" ></canvas>
                </li>
                <li type="none" id="chart_line1" class="chartBox" style="margin-left: 4%;">
                    <span>Moment 2: <span id="mm2_Id">0</span><span>N.m</span></span>
                    <canvas id="myChart_mm2" ></canvas>
                </li>

                <li type="none" id="chart_line2" class="chartBox">
                    <span>Moment 3: <span id="mm3_Id">0</span><span>N.m</span></span>
                    <canvas id="myChart_mm3" ></canvas>
                </li>
                <li type="none" id="chart_line2" class="chartBox" style="margin-left: 4%;">
                    <span>Moment 4: <span id="mm4_Id">0</span><span>N.m</span></span>
                    <canvas id="myChart_mm4" ></canvas>
                </li>

            </ul>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--  luxon lib = date and time: -->
    <script src="{{ url_for('static',filename='js/luxon.min.js') }}"></script>
    <!-- adaptor luxon chartjs: -->
    <script src="{{ url_for('static',filename='js/chartjs-adapter-luxon.min.js') }}"></script>
     <!-- plugin js lib: -->
    <script src="{{ url_for('static',filename='js/chartjs-plugin-streaming.min.js') }}"></script>
    <script>

        //   const firebaseConfig = {
        //         apiKey: "AIzaSyDHry-v-PilQJYo_GZTNRQYd4Q7RDswV3w",
        //         authDomain: "raspberry-firebase-nodejs.firebaseapp.com",
        //         databaseURL: "https://raspberry-firebase-nodejs-default-rtdb.firebaseio.com",
        //         projectId: "raspberry-firebase-nodejs",
        //         storageBucket: "raspberry-firebase-nodejs.appspot.com",
        //         messagingSenderId: "661890992924",
        //         appId: "1:661890992924:web:39615393ab8c234970c8d9",
        //         measurementId: "G-YB1CDDYEN4"
        //     };
        //         // Initialize Firebase
        //         firebase.initializeApp(firebaseConfig);
        //         var database = firebase.database();

                /*------- Khai báo -------*/
                var enc1 , enc2 , enc3 , enc4;
                var myChart_mm1, myChart_mm2, myChart_mm3, myChart_mm4;





                // Setup realtimeClock:
                function realtimeClock(){
                    var rtClock = new Date();
                    var hours = rtClock.getHours();
                    var minutes = rtClock.getMinutes();
                    var seconds = rtClock.getSeconds();
                    // AM or PM:
                    var AmPm = (hours < 12) ? "AM" : "PM";
                    if (hours > 12){
                        hours = hours-12;
                    }
                    else{
                        hours = hours;
                    }

                    hours = ("0" + hours).slice(-2);
                    minutes = ("0" + minutes).slice(-2);
                    seconds = ("0" + seconds).slice(-2);
                    //Display:
                    document.getElementById('clock').innerHTML = "Now: " + hours + " : " + minutes + " : " + seconds + " : " + AmPm;
                    var t = setTimeout(realtimeClock, 1000);
                }




                
                
                var ss = document.getElementsByClassName('monitor-body');
                [].forEach.call(ss, function (s) {
                    var currentTimer = 0,
                        interval = 0,
                        lastUpdateTime = new Date().getTime();
                        start = s.querySelector('button.btn--start');
                        reset = s.querySelector('button.btn--reset');
                        
                        mins = s.querySelector('span.minutes');
                        secs = s.querySelector('span.seconds');

                    reset.addEventListener('click', resetClick);
                    start.addEventListener('click', startClick);

                    function pad (n) {
                        return ('00' + n).substr(-2);
                    }
                    
                    function update () {
                        var now = new Date().getTime(),
                            dt = now - lastUpdateTime;
                        currentTimer += dt;
                        var time = new Date(currentTimer);
                        mins.innerHTML = pad(time.getMinutes()) + ":";
                        secs.innerHTML = pad(time.getSeconds());
                        lastUpdateTime = now;
                    }






                    // Create Chart begin:
                    Begin_CreateChart_mm1();
                    Begin_CreateChart_mm2();
                    Begin_CreateChart_mm3();
                    Begin_CreateChart_mm4();


                    

                    function startClick() {
                        document.getElementById("btn-start").disabled = true;
                        document.getElementById("btn-reset").disabled = false;
                        if (!interval) {
                            lastUpdateTime = new Date().getTime();
                            interval = setInterval(update, 1);
                        }
                        
                        myChart_mm1.destroy();  
                        CreateChart_mm1();
                        myChart_mm2.destroy();
                        CreateChart_mm2();
                        myChart_mm3.destroy();
                        CreateChart_mm3();
                        myChart_mm4.destroy();
                        CreateChart_mm4();
                    }

                    function resetClick() {
                        document.getElementById("btn-reset").disabled = true;
                        document.getElementById("btn-start").disabled = false;
                        // stopClick();
                        clearInterval(interval);
                        interval = 0;

                        currentTimer = 0;
                        mins.innerHTML = pad(0) + ":";
                        secs.innerHTML = pad(0);

                        Stop_CreateChart_mm1();
                        Stop_CreateChart_mm2();
                        Stop_CreateChart_mm3(); 
                        Stop_CreateChart_mm4();                        
                    }





                    const socket = io();  

                    var set_data = 0
                    socket.on("event", data => {
                        const p = document.getElementById("last_event");
                        get_data(data)
                    })

                    const sendEvent = () => {
                        const text = document.getElementById("event_textarea").value;
                        const json = JSON.parse(text);
                        socket.emit('event message', json);
                    }
                    /* ------------------------------------ Get Data From firebase ----------------------------------------------*/
          
                    function get_data(data){
                        enc1 = data.Moment_1
                        document.getElementById("mm1_Id").innerHTML = enc1;
                        enc2 = data.Moment_2
                        document.getElementById("mm2_Id").innerHTML = enc2;
                        enc3 = data.Moment_3
                        document.getElementById("mm3_Id").innerHTML = enc3;
                        enc4 = data.Moment_4
                        document.getElementById("mm4_Id").innerHTML = enc4;
                    }
                    /* ------------------------------------ CHART ----------------------------------------------*/
                    function CreateChart_mm1() {
                        var data = {
                            labels : [],
                            datasets: [{
                                label: 'Moment 1 (N.mm)',
                                data: [],
                                backgroundColor:'#009900',
                                borderColor: '#009900',
                                borderWidth: 1
                                }]   
                        };
                        // config block
                        var config = {
                            type:'line',
                            data,
                            options: {
                                scales: {
                                    x:{
                                        type: 'realtime',
                                        realtime: {
                                            onRefresh: chart =>{
                                                chart.data.datasets.forEach(dataset => {
                                                    dataset.data.push({
                                                        x: Date.now(),
                                                        y: enc1
                                                    })
                                                })
                                            }
                                        }
                                    },
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        // render init block
                            myChart_mm1 = new Chart(
                            document.getElementById('myChart_mm1'),
                            config
                        );
                    }
                    function Stop_CreateChart_mm1() {
                        myChart_mm1.destroy();
                        Begin_CreateChart_mm1();
                        document.getElementById("mm1_Id").innerHTML = 0;
                    }
                    function Begin_CreateChart_mm1() {
                        var data = {
                            labels : [],
                            datasets: [{
                                label: 'Moment 1 (N.mm)',
                                data: [],
                                backgroundColor:'#009900',
                                borderColor: '#009900',
                                borderWidth: 1
                                }]   
                        };
                        // config block
                        var config = {
                            type:'line',
                            data,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        // render init block
                            myChart_mm1 = new Chart(
                            document.getElementById('myChart_mm1'),
                            config,
                        );
                    }










                    /*----------------------------------------------------------*/

                    function CreateChart_mm2() {
                        var data = {
                            labels : [],
                            datasets: [{
                                label: 'Moment 2 (N.mm)',
                                backgroundColor:'#009900',
                                borderColor: '#009900',
                                borderWidth: 1
                                }]   
                        };
                        // config block
                        var config = {
                            type:'line',
                            data,
                            options: {
                                scales: {
                                    x:{
                                        type: 'realtime',
                                        realtime: {
                                            onRefresh: chart =>{
                                                chart.data.datasets.forEach(dataset => {
                                                    dataset.data.push({
                                                        x: Date.now(),
                                                        y: enc2
                                                    })
                                                })
                                            }
                                        }
                                    },
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        // render init block
                            myChart_mm2 = new Chart(
                            document.getElementById('myChart_mm2'),
                            config,
                            document.getElementById("mm2_Id").innerHTML = 0
                        );
                    }
                    function Stop_CreateChart_mm2() {
                        myChart_mm2.destroy();
                        Begin_CreateChart_mm2();
                        document.getElementById("mm2_Id").innerHTML = 0;

                    }
                    function Begin_CreateChart_mm2() {
                        var data = {
                            labels : [],
                            datasets: [{
                                label: 'Moment 2 (N.mm)',
                                data: [],
                                backgroundColor:'#009900',
                                borderColor: '#009900',
                                borderWidth: 1
                                }]   
                        };
                        // config block
                        var config = {
                            type:'line',
                            data,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        // render init block
                            myChart_mm2 = new Chart(
                            document.getElementById('myChart_mm2'),
                            config,
                        );
                    }







                    
                    /*----------------------------------------------------------*/



                    function CreateChart_mm3() {
                        var data = {
                            labels : [],
                            datasets: [{
                                label: 'Moment 3 (N.mm)',
                                data: [],
                                backgroundColor:'#009900',
                                borderColor:'#009900',
                                borderWidth: 1
                                }]   
                        };
                        // config block
                        var config = {
                            type:'line',
                            data,
                            options: {
                                scales: {
                                    x:{
                                        type: 'realtime',
                                        realtime: {
                                            onRefresh: chart =>{
                                                chart.data.datasets.forEach(dataset => {
                                                    dataset.data.push({
                                                        x: Date.now(),
                                                        y: enc3
                                                    })
                                                })
                                            }
                                        }
                                    },
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        // render init block
                            myChart_mm3 = new Chart(
                            document.getElementById('myChart_mm3'),
                            config
                        );
                    }
                    function Stop_CreateChart_mm3() {
                        myChart_mm3.destroy();
                        Begin_CreateChart_mm3();
                        document.getElementById("mm3_Id").innerHTML = 0;

                    }
                    function Begin_CreateChart_mm3() {
                        var data = {
                            labels : [],
                            datasets: [{
                                label: 'Moment 3 (N.mm)',
                                data: [],
                                backgroundColor:'#009900',
                                borderColor: '#009900',
                                borderWidth: 1
                                }]   
                        };
                        // config block
                        var config = {
                            type:'line',
                            data,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        // render init block
                            myChart_mm3 = new Chart(
                            document.getElementById('myChart_mm3'),
                            config,
                        );
                    }










                    /*----------------------------------------------------------*/




                    function CreateChart_mm4() {
                        var data = {
                            labels : [],
                            datasets: [{
                                label: 'Moment 4 (N.mm)',
                                data: [],
                                backgroundColor:'#009900',
                                borderColor:'#009900',
                                borderWidth: 1
                                }]   
                        };
                        // config block
                        var config = {
                            type:'line',
                            data,
                            options: {
                                scales: {
                                    x:{
                                        type: 'realtime',
                                        realtime: {
                                            onRefresh: chart =>{
                                                chart.data.datasets.forEach(dataset => {
                                                    dataset.data.push({
                                                        x: Date.now(),
                                                        y: enc4
                                                    })
                                                })
                                            }
                                        }
                                    },
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        // render init block
                            myChart_mm4 = new Chart(
                            document.getElementById('myChart_mm4'),
                            config
                        );
                    }
                    function Stop_CreateChart_mm4() {
                        myChart_mm4.destroy();
                        Begin_CreateChart_mm4();
                        document.getElementById("mm4_Id").innerHTML = 0;

                    }
                    function Begin_CreateChart_mm4() {
                        var data = {
                            labels : [],
                            datasets: [{
                                label: 'Moment 1 (N.mm)',
                                data: [],
                                backgroundColor:'#009900',
                                borderColor: '#009900',
                                borderWidth: 1
                                }]   
                        };
                        // config block
                        var config = {
                            type:'line',
                            data,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        // render init block
                            myChart_mm4 = new Chart(
                            document.getElementById('myChart_mm4'),
                            config,
                        );
                    }

                    
                });
    </script>
</body>
</html>